# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [1]:
id1 = "211403910"
id2 = "208847442"

In [2]:
#df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([id1,id2])

In [5]:
df.to_clipboard(index=False,header=False)

Please fill your names here:

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [6]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

In [7]:
vacc_df['date']=pd.to_datetime(vacc_df.date)
vacc_df['month']=pd.DatetimeIndex(vacc_df.date).month
vacc_df

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,month
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,2
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,Zimbabwe,ZWE,2021-08-07,2853397.0,1851116.0,1002281.0,NaN,60047.0,19.20,12.45,6.74,4040.0,8
39901,Zimbabwe,ZWE,2021-08-08,2886551.0,1863913.0,1022638.0,33154.0,61908.0,19.42,12.54,6.88,4165.0,8
39902,Zimbabwe,ZWE,2021-08-09,2941508.0,1897123.0,1044385.0,54957.0,66884.0,19.79,12.76,7.03,4500.0,8
39903,Zimbabwe,ZWE,2021-08-10,NaN,NaN,NaN,NaN,53633.0,NaN,NaN,NaN,3609.0,8
39904,Zimbabwe,ZWE,2021-08-11,3017341.0,1932929.0,1084412.0,NaN,59050.0,20.30,13.01,7.30,3973.0,8

In [8]:
our_month=vacc_df[vacc_df.month==2]
our_month

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,month
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,2
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39736,Zimbabwe,ZWE,2021-02-24,6115.0,6115.0,NaN,2074.0,1013.0,0.04,0.04,NaN,68.0,2
39737,Zimbabwe,ZWE,2021-02-25,11264.0,11264.0,NaN,5149.0,1604.0,0.08,0.08,NaN,108.0,2
39738,Zimbabwe,ZWE,2021-02-26,12836.0,12836.0,NaN,1572.0,1767.0,0.09,0.09,NaN,119.0,2
39739,Zimbabwe,ZWE,2021-02-27,15962.0,15962.0,NaN,3126.0,2153.0,0.11,0.11,NaN,145.0,2
39740,Zimbabwe,ZWE,2021-02-28,19100.0,19100.0,NaN,3138.0,2541.0,0.13,0.13,NaN,171.0,2

In [9]:
print(len(our_month))

3350

 # Q2

##

In [10]:
vacc_df['daily_vaccinations'].fillna(0 , inplace = True)
vacc_df

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,month
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,0.0,0.00,0.00,NaN,NaN,2
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,Zimbabwe,ZWE,2021-08-07,2853397.0,1851116.0,1002281.0,NaN,60047.0,19.20,12.45,6.74,4040.0,8
39901,Zimbabwe,ZWE,2021-08-08,2886551.0,1863913.0,1022638.0,33154.0,61908.0,19.42,12.54,6.88,4165.0,8
39902,Zimbabwe,ZWE,2021-08-09,2941508.0,1897123.0,1044385.0,54957.0,66884.0,19.79,12.76,7.03,4500.0,8
39903,Zimbabwe,ZWE,2021-08-10,NaN,NaN,NaN,NaN,53633.0,NaN,NaN,NaN,3609.0,8
39904,Zimbabwe,ZWE,2021-08-11,3017341.0,1932929.0,1084412.0,NaN,59050.0,20.30,13.01,7.30,3973.0,8

###### בשביל ה-״חיסון יומי״ החלטנו לשנות את הערכים החסרים לערך אפס כי הגיוני שלא יהיו מחוסנים נוספים כל יום.

In [11]:
vacc_df['people_vaccinated_per_hundred']=vacc_df.groupby('location')[['people_vaccinated_per_hundred']].apply(lambda x: x.fillna(method='ffill'))
vacc_df

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,month
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,0.0,0.00,0.00,NaN,NaN,2
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,0.00,NaN,35.0,2
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,0.00,NaN,35.0,2
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,0.00,NaN,35.0,2
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,0.00,NaN,35.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39900,Zimbabwe,ZWE,2021-08-07,2853397.0,1851116.0,1002281.0,NaN,60047.0,19.20,12.45,6.74,4040.0,8
39901,Zimbabwe,ZWE,2021-08-08,2886551.0,1863913.0,1022638.0,33154.0,61908.0,19.42,12.54,6.88,4165.0,8
39902,Zimbabwe,ZWE,2021-08-09,2941508.0,1897123.0,1044385.0,54957.0,66884.0,19.79,12.76,7.03,4500.0,8
39903,Zimbabwe,ZWE,2021-08-10,NaN,NaN,NaN,NaN,53633.0,NaN,12.76,NaN,3609.0,8
39904,Zimbabwe,ZWE,2021-08-11,3017341.0,1932929.0,1084412.0,NaN,59050.0,20.30,13.01,7.30,3973.0,8

###### בשביל ה-״אנשים מחוסנים למאה״ החלטנו לשנות את הערכים החסרים. כל תא ריק, מקבל את הערך של התא האחרון של המדינה שלו שהיה מלא.

# Q3

In [12]:
vacc_df['month'] = pd.DatetimeIndex(vacc_df.date).month
our_month_vacc_df=vacc_df[(vacc_df['iso_code'].str.contains('OWID')==False)&(vacc_df['month']==2)]
max_vacc=our_month_vacc_df['daily_vaccinations'].max()
max_vacc

1916190.0

In [13]:
our_month_vacc_df.loc[our_month_vacc_df['daily_vaccinations']==max_vacc,['location','date']]

     location       date
7195    China 2021-02-07

# Q4

In [14]:
vacc_df_mean=our_month_vacc_df['daily_vaccinations'].mean()
vacc_df_median=our_month_vacc_df['daily_vaccinations'].median()
"mean = "+str(vacc_df_mean)+","+"median = "+str(vacc_df_median)

'mean = 53234.90446521288,median = 3748.0'

###### .הממוצע וחציון לא שווים כי הממוצע מחושב על ידי חיבור כל הערכים וחלוקת הציון במספר הערכים. החציון הוא המספר שנמצא באמצע המדויק של קבוצת הערכים. ככל שיהיו יותר מספרים כך שני התוצאות יהיו שונות.

# Q5

In [15]:
vacc_df_country=vacc_df[(vacc_df['location']=='Israel')&(vacc_df['month']==2)]
vacc_df_country_mean=vacc_df_country['people_vaccinated_per_hundred']
vacc_df_country_mean[0:7].mean()

38.794285714285714

# Q6

In [16]:
our_month_vacc_df=vacc_df[(vacc_df['iso_code'].str.contains('OWID')==False)&(vacc_df['month']==2)]
our_month_vacc_df_group=our_month_vacc_df.groupby('location')[['people_vaccinated_per_hundred','month']].max()
max_vacc_df=our_month_vacc_df_group.sort_values(by='people_vaccinated_per_hundred',ascending=False)
max_vacc_df.head(3)

            people_vaccinated_per_hundred  month
location
Gibraltar                           69.80      2
Seychelles                          56.83      2
Israel                              54.51      2

# Q7

---
# GOOD LUCK !!!!
---

In [17]:
# do not type below this line